<div class="home-container">
  <app-side-bar></app-side-bar>
  <div class="content">
    <!-- <div class="video-grid">
      @for (video of videos; track video.id) {
      <div class="video-card">
        <div class="thumbnail">
          <img [src]="video.thumbnailUrl" [alt]="video.title" />
          <span class="duration">{{ video.duration }}</span>
        </div>
        <div class="video-info">
          <div class="channel-avatar">
            <img [src]="video.channelAvatarUrl" [alt]="video.channelName" />
          </div>
          <div class="video-details">
            <h3 class="video-title">{{ video.title }}</h3>
            <p class="channel-name">{{ video.channelName }}</p>
            <div class="video-metadata">
              <span>{{ video.views }} views</span>
              <span>•</span>
              <span>{{ video.uploadDate }}</span>
            </div>
          </div>
        </div>
      </div>
      }
    </div> -->
  </div>
</div>
