.svd-container {
  padding: 16px;
  display: flex;
  .box1 {
    width: 5%;
  }
  .box2 {
    width: 35%;
    mat-form-field {
      width: 100%;
    }
  }
  .box3 {
    width: 40%;
  }
  .box4 {
    width: 20%;
  }
}
